<div class="card flex justify-content-center" >
    <p-card [header]="[' No. ']+id.toString()+[' ']+titulo" subheader="" [style]="{ width: '360px'}" class="p-card">
        <ng-template pTemplate="header">
            <img [alt]="imagen" [src]="imagen" />
        </ng-template>
        <ul style="font-size: 20px;">
            <li>{{estatus | uppercase | traduccion}}</li>
            <li>{{especie | uppercase| traduccion}}</li>
            <li>{{genero | uppercase| traduccion}}</li>
        </ul>
        @if (this.router.url.includes('characters')) {
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button [routerLink]="['/rickAndMorty/character/'+id]" label="Ver Mas Detalles" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
        }
    </p-card>
</div>