<div class="card flex justify-content-center">
    <p-card [header]="data?.name" [style]="{ width: '360px' }" class="tarjeta">
        <ng-template pTemplate="header">
            <img [alt]="data?.name" [src]="data?.sprites?.front_default" />
        </ng-template>
        <ul>
            <li>Experiencia Base: {{data?.base_experience}}</li>
            <li>Altura: {{data?.height}}</li>
            <li>Formas:</li>
            <ul *ngFor="let item of data?.forms; let i = index">
                <li>Forma No.{{i+1}}: {{item.name}}</li>
            </ul>
        </ul>
    </p-card>
</div>